name: Update README Daily

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  activity:
    runs-on: ubuntu-latest
    name: Metrics Activity

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.activity.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ""
          plugin_activity: yes
          plugin_activity_limit: 10
          plugin_activity_days: 0
          plugin_activity_skipped: heitorpolidoro
          output_condition: data-changed

  overall:
    name: Metrics Overall
    runs-on: ubuntu-latest

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.overall.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base_indepth: yes
          repositories_forks: yes
          repositories_affiliations: owner, collaborator, organization_member
          output_condition: data-changed

  achievements:
    runs-on: ubuntu-latest
    name: Metrics Achievements

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.achievements.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_achievements: yes
          output_condition: data-changed

  followup:
    runs-on: ubuntu-latest
    name: Metrics Followup

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.followup.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_followup: yes
          plugin_followup_indepth: yes
          output_condition: data-changed

  languages:
    runs-on: ubuntu-latest
    name: Metrics Languages

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.languages.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage, lines
          output_condition: data-changed

  sponsor:
    name: Metrics Sponsor
    runs-on: ubuntu-latest

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.sponsor.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_sponsors: yes
          output_condition: data-changed

  leetcode:
    name: Metrics Leetcode
    runs-on: ubuntu-latest

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.leetcode.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_leetcode: yes
          plugin_leetcode_sections: solved, skills, recent
          output_condition: data-changed

#  stackoverflow:
#    name: Metrics Stackoverflow
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Generating svg
#        uses: lowlighter/metrics@latest
#        with:
#          filename: metrics/metrics.stackoverflow.svg
#          token: ${{ secrets.HEITORPOLIDORO_PAT }}
#          base: ""
#          plugin_stackoverflow: yes
#          plugin_stackoverflow_user: 16155315
#          plugin_stackoverflow_sections: answers-top, answers-recent, questions-top, questions-recent
#          output_condition: data-changed

  projects:
    name: Metrics Projects
    runs-on: ubuntu-latest

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.projects.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_projects: yes
          plugin_projects_descriptions: yes
          output_condition: data-changed


  update:
    name: Update README
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Python 3.11
        id: cache_pip
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Build README
        env:
          GITHUB_TOKEN: ${{ secrets.HEITORPOLIDORO_PAT }}
        run: |
          python build_readme.py

      - name: Github Streak
        run: |
          for i in {1..5}; do
            curl -s "https://streak-stats.demolab.com?user=heitorpolidoro&theme=dark&hide_border=true&mode=weekly&card_width=500" -o metrics/metrics.streak.svg
            if grep -qi "error" metrics/metrics.streak.svg; then
              echo "Attempt $i failed, waiting 10 seconds..."
              sleep 10
            else
              echo "Attempt $i succeeded!"
              break
            fi
          done

      - name: Update info
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [[ "$(git status --porcelain)" != "" ]]; then
            set -x
            git config http.sslVerify false
            git config user.name github-actions[bot]
            git config user.email github-actions[bot]@users.noreply.github.com
            git add -A
            git commit -m "Update README - metrics"
            git pull --rebase
            git push "https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/heitorpolidoro/heitorpolidoro.git" HEAD:master
          else
            echo "Nothing to commit"
          fi
