name: Update README Daily

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  activity:
    runs-on: ubuntu-latest
    name: Metrics Activity

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.activity.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ""
          plugin_activity: yes
          plugin_activity_limit: 10
          plugin_activity_days: 0
          plugin_activity_skipped: heitorpolidoro

  overall:
    name: Metrics Overall
    runs-on: ubuntu-latest

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.overall.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base_indepth: yes
          repositories_forks: yes
          repositories_affiliations: owner, collaborator, organization_member

  achievements:
    runs-on: ubuntu-latest
    name: Metrics Achievements

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.achievements.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_achievements: yes

  followup:
    runs-on: ubuntu-latest
    name: Metrics Followup

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.followup.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_followup: yes
          plugin_followup_indepth: yes

  languages:
    runs-on: ubuntu-latest
    name: Metrics Languages

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.languages.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage, lines

  sponsor:
    name: Metrics Sponsor
    runs-on: ubuntu-latest

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.sponsor.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_sponsors: yes

  leetcode:
    name: Metrics Leetcode
    runs-on: ubuntu-latest

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.leetcode.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_leetcode: yes
          plugin_leetcode_sections: solved, skills, recent

  stackoverflow:
    name: Metrics Stackoverflow
    runs-on: ubuntu-latest

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.stackoverflow.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_stackoverflow: yes
          plugin_stackoverflow_user: 16155315
          plugin_stackoverflow_sections: answers-top, answers-recent, questions-top, questions-recent

  projects:
    name: Metrics Projects
    runs-on: ubuntu-latest

    steps:
      - name: Generating svg
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.projects.svg
          token: ${{ secrets.HEITORPOLIDORO_PAT }}
          base: ""
          plugin_projects: yes
          plugin_projects_descriptions: yes

